<!-- Modal Bienvenida -->
<div class="modal hide fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="text-center">Bienvenido!</h1>
            </div>
        </div>
    </div>
</div>