<div class="card text-center" style="width: 18rem;">
    <div class="card-header">
        <h5 class="card-title">{{nombreFruta}}</h5>
    </div>

    <div class="card-body">
        <img src="..." class="card-img-top" alt="...">
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>