<!--Crear un parcial “producto” que contenga el template correspondiente a la
presentación de cada producto en el Dashboard y reciba como parámetro el nombre
del producto.-->

<div class="col my-2">
    <div class="card text-center" style="width: 12rem;">

        <div class="card-header">
            <h5 class="card-title">{{producto.nombre}}</h5>
        </div>

        <div class="card-body">
            <img src="{{producto.ruta_imagen}}" class="card-img-top" alt="...">
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="boton{{producto.nombre}}">Agregar producto</a>
        </div>
    </div>
</div>
