<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
</head>

<body>
    <header>
        {{> Navbar}}
    </header>

    <div class="row row-cols-3 mt-3">
        {{#each frutas}}
        {{> Producto
        producto = this
        }}
        {{/each}}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body" id="modal-para-mostrar">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.js"></script>
</body>
<script>
    // Selectores
    const modalBodySelector = document.querySelector('#modal-para-mostrar')
    const botonBananaSelector = document.querySelector('#botonBanana')
    const botonCebollaSelector = document.querySelector('#botonCebolla')
    const botonLechugaSelector = document.querySelector('#botonLechuga')
    const botonPapaSelector = document.querySelector('#botonPapa')
    const botonPimentonSelector = document.querySelector('#botonPimenton')
    const botonTomateSelector = document.querySelector('#botonTomate')

    // LocalStorage y variable adicional para manejarla
    let productos = localStorage.getItem('Productos')
    let listaProductos

    const agregarLocalStorage = (nombreFruta) => {
        if (!listaProductos) {
            listaProductos = `${nombreFruta}`
        } else {
            listaProductos = listaProductos + `,${nombreFruta}`
        }
        localStorage.setItem('Productos', listaProductos)
        modalBodySelector.innerHTML = modalBodySelector.innerHTML + 'Pruebaasdfasdfasdf'
    }

    botonBananaSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })

    botonCebollaSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })

    botonLechugaSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })

    botonPapaSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })

    botonPimentonSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })

    botonTomateSelector.addEventListener('click', () => {
        agregarLocalStorage('Banana')
    })


    /*if (productos[0] === null) {
        productos.shift()
    }
    productos.push(id)
    localStorage.setItem('Productos', productos)
    let productosArray = [localStorage.getItem('Productos')]
    const prueba = productosArray[0].split(',')*/
</script>

</html>