<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
</head>

<body>

    <!-- Incluir en la vista un parcial que contenga el menú del sitio web y sea renderizado
antes del Dashboard. -->
    <header>
        {{> Navbar}}
    </header>

    <div class="container">
        <div class="row row-cols-3 mt-3">
            {{#each frutas}}
            {{> Producto
            producto = this
            }}
            {{/each}}
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="modal-para-mostrar">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{> Bienvenida}}
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/bootstrap.js"></script>
    <script src="/js/frontmain.js"></script>
</body>
</html>